body{
  margin: 0;
}
#map {
  height: 90vh ;
  width: 100%;
  margin-top: 10px;
  margin-right: 0px;
}

h2{
  color: orange; 
  text-align: center;
}
.d-mode{
  width: 100px;
  position: absolute;
  top:15px;
  right: 3%;
  /* background-color: orange; */
  cursor: pointer;
}
.state
{
  width: 100%;
}

ul{
  list-style: none;
  width: 100%;
  padding: 0;
}
a{
  text-decoration: none;
  color: white;
}
.container{
  width: 100%;
  height: 15vh;
  position: absolute;
  bottom: 20px;
  /* display: flex;
  justify-content: space-around ;
  flex-direction: row; */
}

    
.box{
  border-radius: 20px;
  margin:0px 5px;
  box-sizing: border-box;
  box-shadow: 1px 0 5px 2px rgba(155, 154, 154, 0.5),1px 0 5px 2px rgba(155, 154, 154, 0.5);
  background-color: #fff;
}
.t_detail{
  width: 85%;
  margin:15px auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.head{
  width: 85%;
  height: 50%;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:rgb(223, 104, 7);
  font-weight: bolder;
  font-size: 20px;
  
}
.dir{
  background-color: rgb(246, 179, 4);
  color: white;
  width: 70px;
  height: 50px;
  border-radius: 10%;
  font-weight: bold;
  font-size: 17px;
}
.l-container {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 17vw;
}

.l-box {
  width: 80%;
  height: 10%;
  margin-bottom: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-self:start;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 1px 0 5px 2px rgba(155, 154, 154, 0.5), 1px 0 5px 2px rgba(155, 154, 154, 0.5);
  background-color: #fff;
  padding: 20px 0px;
}

.l-t_detail {
  width: 90%;
  height: 50%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.l-head {
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(223, 104, 7);
  font-weight: bolder;
  font-size: 20px;
}

.l-dir {
  background-color: rgb(246, 179, 4);
  color: white;
  width: 70px;
  height: 50px;
  border-radius: 10%;
  font-weight: bold;
  font-size: 17px;
}


    ul.dist_select {
        width:50px;
        list-style: none;
        position: absolute;
        top: 8%;
        right:3%;
    }

    ul.dist_select li {
        margin: 0;
        white-space: nowrap;
        padding-bottom: 5px;
    }
    .option{
      border: none;
      background-color: rgb(255, 255, 255);
      color:orange;
      font-size: 16px;
      font-weight: bold ;

    }

    ul.dist_select > li:last-child {
        border-right: none;
    }

    .option:hover{
      background-color: rgba(228, 124, 6, 0.85);
      color: #fff;
      font-size: 18px;
      
    }